body{
    display: flex;
    font-family: 'Gugi', cursive;
}
#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    width: 50%;
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 50%;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#header{
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 7.8%;
    width: 100%;
    background: #D47810;
    text-align: center;

}

#header h1{
    position: absolute;
    color: ivory;
    right:39rem;
    bottom: -10px;

}
button{
    z-index: 1;
    position: absolute;
    margin-top: 17px;
    margin-left: -700px;
}
#queryForm{
    margin-top: 65px;

}